@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400&display=swap');
:root {
    --tamnoPlava: #1d527c;  /* rgb(29, 82, 124) */
    --svetloPlava: #459ad3; /* rgb(69, 154, 211) */
    --orange: #fd7f45;      /* rgb(253, 127, 69) */
    --tamnoSiva: #3c3b3c;
    --svetloSiva: lightgray;
    --bela: #fff;
    --transition: .3s ease;
    --padding: 100px 0;
}   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--tamnoSiva);
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    transition: var(--transition);
}
button{
    padding: 15px 40px;
    border: 1px solid var(--bela);
    background: transparent;
    color: var(--bela);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
button:hover{
    transition: var(--transition);
    cursor: pointer;
    background: var(--bela);
    color: var(--tamnoSiva);
}
.container{
    width: 80%;
    margin: auto;
}
.headings{
    font-size: 3rem;
    font-weight: 700;
    color: var(--tamnoPlava);
}
.headings::after{
    display: block;
    content: "";
    background: var(--svetloPlava);
    height: 2px;
    width: 100px;
    margin: 10px 0 25px 0;
}

/*******************
Nav Style
*******************/
nav{    
    background: linear-gradient(to right, var(--orange), var(--tamnoPlava));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}
nav a{
    color: var(--bela);
    text-transform: uppercase;
    padding: 0 30px;
    letter-spacing: 2px;
}
nav a:hover{
    color: var(--svetloSiva);
}
nav ul{
    display: flex;
}

/*******************
Header Style
*******************/
header{
    background-image: linear-gradient(rgba(29, 82, 124, .8),rgba(253, 127, 69, .8)), url(./img/baloon.jpg);
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bela);
}
header h2{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
header h2 span{
    font-style: italic;
    font-weight: 400;
}
header p{
    font-size: 1.2rem;
    padding: 30px;
}

/*******************
About Style
*******************/
.about{
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
}
.about img{
    width: 100%;
    box-shadow: 10px 10px var(--tamnoPlava);
}
.about article{
    flex: 0 0 48%;
}
.about article:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*******************
About Style
*******************/
.services{
    padding: var(--padding);
    background-image: linear-gradient(rgba(29, 82, 124, .8),rgba(253, 127, 69, .8)),url(./img/header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--bela);
}
.services h2{
    color: var(--bela);
}
.services .container{
    display: flex;
}
.services article{
    flex: 1;
}
.services article:first-child{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services article:first-child i {
    font-size: 5rem;
    color: var(--orange);
    flex: 0 0 50%;
}
.services p{
    padding: 30px 0;
}

/*******************
Blog Style
*******************/
.blog{
    padding: var(--padding);
    text-align: center;
}
.blog img{
    width: 100%;
}
.blog .row{
    display: flex;
    justify-content: space-between;
}
.blog .row article{
    flex: 0 0 30%;
}
.blog .row article h4{
    padding: 20px 0;
    font-size: 1.7rem;
    color: var(--tamnoPlava);
}
.blog .row article p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}
.blog button{
    background: var(--tamnoPlava);
    color: var(--bela);
}
.blog button:hover{
    cursor: pointer;
    background: var(--bela);
    color: var(--tamnoSiva);
}